@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Common */
  --color-common-0: #05141F;
  --color-common-100: #FFFFFF;
  /* Cool Neutral */
  --color-coolNeutral-100: #F7F7F8;
  --color-coolNeutral-200: #F4F4F5;
  --color-coolNeutral-250: #EFEFF0;
  --color-coolNeutral-300: #E1E2E4;
  --color-coolNeutral-400: #C7C8CA;
  --color-coolNeutral-500: #939598;
  --color-coolNeutral-600: #6D6E71;
  --color-coolNeutral-650: #5A5C63;
  --color-coolNeutral-700: #46474C;
  --color-coolNeutral-750: #37383C;
  --color-coolNeutral-800: #292A2D;
  --color-coolNeutral-850: #171719;
  --color-coolNeutral-900: #010E18;
  /* Semantic */
  --color-semantic-border-divider: #C7C8CA;
  --color-semantic-border-box: #939598;
  --color-semantic-component-normal: #FFFFFF;
  --color-semantic-component-inactive: #939598;
  --color-semantic-component-strong: #05141F;
  --color-semantic-background-normal: #FFFFFF;
  --color-semantic-system-success: #0ABF53;
  --color-semantic-system-error: #FF5E47;
  /* Primary */
  --color-primary-600: #0BAFDC;
  --color-primary-900: #045C74;
}

@layer utilities {
  /* Title */
  .title-1 { @apply text-[40px] leading-[150%] font-semibold; }
  .title-2 { @apply text-[36px] leading-[150%] font-semibold; }

  /* Headline */
  .headline-1 { @apply text-[28px] leading-[150%] font-semibold; }
  .headline-2 { @apply text-[24px] leading-[150%] font-semibold; }

  /* Body */
  .body-1-500 { @apply text-[20px] leading-[160%] font-medium; }
  .body-1-700 { @apply text-[20px] leading-[160%] font-semibold; }
  .body-2-500 { @apply text-[18px] leading-[160%] font-medium; }
  .body-2-700 { @apply text-[18px] leading-[160%] font-semibold; }
  .body-3-500 { @apply text-[16px] leading-[150%] font-medium; }
  .body-3-700 { @apply text-[16px] leading-[150%] font-semibold; }

  /* Label */
  .label-1 { @apply text-[14px] leading-[150%] font-semibold; }
  .label-2-500 { @apply text-[13px] leading-[150%] font-medium; }
  .label-2-700 { @apply text-[13px] leading-[150%] font-bold; }
  .label-3 { @apply text-[12px] leading-[150%] font-semibold; }

  /* Caption */
  .caption-1 { @apply text-[11px] leading-[160%] font-semibold; }
  .caption-2 { @apply text-[10px] leading-[150%] font-semibold; }
  .caption-3 { @apply text-[8px] leading-[160%] font-semibold; }
  .caption-4-300 { @apply text-[7px] leading-[160%] font-light; }
  .caption-4-500 { @apply text-[7px] leading-[160%] font-medium; }
  .caption-4-700 { @apply text-[7px] leading-[160%] font-semibold; }
}

body {
  font-family: 'Pretendard', sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}